=nested_form_for @recipe, :html => {:class => "bp"} do |f|
  -if @recipe.errors.any?
    #errorExplanation
      %h2 Whoops, looks like something went wrong.
      %p Please review the form below and make the appropriate changes.
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  .form-row.group
    .float-left
      = f.label :title
      %br/
      = f.text_field :title
    .float-left
      = f.label :servings
      %br/
      = f.text_field :servings
  .form-row
    = f.label :description, "Short Description"
    %br/
    = f.text_area :description, :class => "mini"
  -@recipe.ingredients.build if @recipe.new_record?
  %h3 Ingredients
  =f.fields_for :ingredients do |i_fields|
    =render :partial => "ingredients/form", :locals => {:f => i_fields}
  .form-row
    =f.link_to_add("Add More Ingredients", :ingredients)
  .form-row
    = f.label :directions
    %br/
    = f.text_area :directions
  .form-row
    -label = @recipe.new_record? ? "Create Recipe" : "Update Recipe"
    =f.submit label, :class => "submit"
