%h2 Enter a new recipe
= form_for @recipe do |f|
  -if @recipe.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg
  %fieldset.inputs
    %ol
      = f.label :title
      = f.text_field :title
    %ol
      = f.label :servings
      = f.text_field :servings
    %ol
      = f.label :description
      = f.text_area :description, :height => '100'
    - 3.times { |i| @recipe.ingredients.build } if @recipe.new_record?  
    %h5 Ingredients
    = f.fields_for :ingredients do |i_fields|
      = render :partial => "ingredients/form", :locals => {:f => i_fields}
      %hr
    %ol
      = f.label :directions
      = f.text_area :directions
    %ol
      = f.submit 'Save'
