.mainContent
  %h2 Enter a new recipe
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus.
    Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis,
    massa.
  
  -flash.each do |key, value|
    %div{:class => "flash #{key}"}
      =value 
  
  =# render 'form'
  =form_for @recipe, :html => {:class => "bp"} do |f|
    .form-row.group
      .float-left
        = f.label :title
        %br/
        = f.text_field :title
      .float-left
        = f.label :servings
        %br/
        = f.text_field :servings
    .form-row
      = f.label :description, "Short Description"
      %br/
      = f.text_area :description, :class => "mini"
    -@recipe.ingredients.build if @recipe.new_record?
    .hide#extra
      =link_to_add_fields(f, :ingredients)
    %h3 Ingredients
    =f.fields_for :ingredients do |i_fields|
      =render :partial => "ingredients/form", :locals => {:f => i_fields}
    .form-row
      =link_to("Add More Ingredients", new_recipe_path, :id => "add-another", :remote => true)
    .form-row
      = f.label :directions
      %br/
      = f.text_area :directions
    .form-row
      = f.submit 'Save', :class => "submit"
    
  
  
  


