.form-row.ingredient-row.group
  .float-left
    = f.label :amount
    %br/
    = f.text_field :amount, :id=> "amount"
  .float-left
    = f.label :unit
    %br/
    = f.select :unit, Ingredient::UNITS, :include_blank => true
  .float-left
    = f.label :name
    %br/
    = f.text_field :name, :id=> "name"
  .float-left
    = f.label :instructions
    %br/
    = f.text_field :instructions, :id=> "instructions"
  .float-left
    %p.remove
      =link_to_remove_fields "remove", f
