%ol
  = f.label :amount
  = f.text_field :amount
%ol
  = f.label :unit
  = f.text_field :unit
%ol
  = f.label :name
  = f.text_field :name
%ol
  = f.label :instructions
  = f.text_field :instructions
