%h1 Listing ingredients

%table
  %tr
    %th Recipe
    %th Order of
    %th Amount
    %th Unit
    %th Name
    %th Instructions
    %th
    %th
    %th

  - @ingredients.each do |ingredient|
    %tr
      %td= ingredient.recipe_id
      %td= ingredient.order_of
      %td= ingredient.amount
      %td= ingredient.unit
      %td= ingredient.name
      %td= ingredient.instructions
      %td= link_to 'Show', ingredient
      %td= link_to 'Edit', edit_ingredient_path(ingredient)
      %td= link_to 'Destroy', ingredient, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New ingredient', new_ingredient_path
