%p
  %b Recipe:
  = @ingredient.recipe_id
%p
  %b Order of:
  = @ingredient.order_of
%p
  %b Amount:
  = @ingredient.amount
%p
  %b Unit:
  = @ingredient.unit
%p
  %b Name:
  = @ingredient.name
%p
  %b Instructions:
  = @ingredient.instructions

= link_to 'Edit', edit_ingredient_path(@ingredient)
\|
= link_to 'Back', ingredients_path
